<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show student form data</title>
</head>
<body>
    <center>
        <h1>Displaying Student Form data</h1>
        <table border="3px">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Location</th>
                <th>Email</th>
                <th>Re-Email</th>
                <th>URL</th>
                <th>Phone No</th>
            </tr>
            {% for fo in SAD %}
                <tr>
                    <td>{{fo.name}}</td>
                    <td>{{fo.age}}</td>
                    <td>{{fo.loc}}</td>
                    <td>{{fo.email}}</td>
                    <td>{{fo.remail}}</td>
                    <td>{{fo.url}}</td>
                    <td>{{fo.phone}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>